#bg {
    background-image: url("../images/vaporwave-darkblue.jpg");
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.main-content h2 {
    font-size: 3rem;
    text-shadow: 4px 4px 0 black, 0 0 10px black, 0 0 20px black;
}

.main-content:first-child {
    margin: 12rem 0;
}




.opinions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* auto-fit columns with a minimum of 200px width */
    grid-gap: 1rem;
}





.opinion form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.opinion textarea {
    margin: 1rem 0;
    padding: 1rem;
    padding-right: 2rem;
    width: 93%;
    height: 5rem;
    resize: none;
    border: none;
    border-radius: 1rem;
    background-color: rgba(41, 38, 44, 0.8);
    color: white;
    scrollbar-width: thin;
}


.ratings label {
    margin-right: 1rem;
    font-size: 1.7rem;
}

.ratings input[type="radio"] {
    display: none;
}

.ratings label:before {
    content: "\2605";
    font-size: 2rem;
    color: #ccc;
}

.ratings input[type="radio"]:checked + label:before {
    color: #fbff29;
}

.opinion input[type="submit"] {
    border: none;
    background-color: transparent;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-radius: 1rem;
    border: 2px solid rgba(201, 22, 255, 0);
    transition: all 0.2s ease-in-out;
}

.opinion input[type="submit"]:hover {
    text-shadow: -2px -2px 4px rgb(142, 4, 255), 2px 2px 4px rgb(113, 4, 255);
    border: 2px solid rgba(201, 22, 255, 1);

}




.rating-submit-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

